@font-face {
  font-family: 'HarryPotter';
  src: url('./assets/fonts/HARRYP__.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.harry-potter-text {
  font-family: 'HarryPotter', sans-serif;
}
